@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');
html{overflow-y: scroll;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    background-color: none;
}

html{
    background-color: #4444;
}

.borda{
    position: absolute;
    background-color: #444;
    box-shadow: -10px 8px 0 #333;
    border-radius: 8%;
    height: 80%;
    width: 34%;
    left: 33%;
    top: 10%;
}

.txtLogin{
    position: absolute;
    color: #ffff;
    top: 15%;
    left: 41%;
    font-size: clamp(8px, 4vw, 40px);
    font-weight: 800;
}

.txtCampo1{
    position: absolute;
    color: #ffff;
    font-size: clamp(8px, 4vw, 26px);
    font-weight: 800;
    top: 35%;
    left: 11%;
}

.txtCampo2{
    position: absolute;
    color: #ffff;
    font-size: clamp(8px, 4vw, 26px);
    font-weight: 800;
    top: 55%;
    left: 11%;
}

.campoEmail{
    position: absolute;
    color:#333;
    font-size: clamp(8px, 4vw, 20px);
    font-weight: 800;
    border-radius: 3%;
    border: 3px solid black;
    box-shadow: -4px 7px 0 #333;
    width: 80%;
    top: 42%;
    left: 10%;
}

.campoSenha{
    position: absolute;
    color:#333;
    font-size: clamp(8px, 4vw, 20px);
    box-shadow: -4px 7px 0 #333;
    font-weight: 800;
    border-radius: 3%;
    border: 3px solid black;
    width: 80%;
    top: 62%;
    left: 10%;
}

.confirmar{
    position: absolute;
    font-size: clamp(8px, 4vw, 26px);
    border: 3px solid black;
    width: 25%;
    border-radius: 8%;
    box-shadow: -5px 8px 0 #333;
    top: 70%;
    left: 65%;
    outline: none;
}

.cadastro{
    position: absolute;
    font-size: clamp(8px, 4vw, 26px);
    border: 3px solid black;
    width: 36%;
    border-radius: 8%;
    box-shadow: -5px 8px 0 #333;
    top: 85%;
    left: 32%;
    outline: none;
}

button:active{
    position: absolute;
    font-size: clamp(8px, 4vw, 20px);
    box-shadow: inset -2px 2px 0 #444;
    font-size: 1.4rem;
}

.linkCad{
    text-decoration: none;
    color: #333;
    background-color: #ffff;
}

.linkLogar{
    text-decoration: none;
    color: #333;
    background-color: #ffff;
}

/* ---------  CADASTRO ---------  */
.txtcad{
    position: absolute;
    color: #ffff;
    top: 10%;
    left: 31%;
    font-size: clamp(8px, 4vw, 40px);
    font-weight: 800;
}

.txtCampo1{
    position: absolute;
    color: #ffff;
    font-size: clamp(8px, 4vw, 26px);
    font-weight: 800;
    top: 28%;
    left: 11%;
}

.txtCampo2{
    position: absolute;
    color: #ffff;
    font-size: clamp(8px, 4vw, 26px);
    font-weight: 800;
    top: 45%;
    left: 11%;
}

.txtCampo3{
    position: absolute;
    color: #ffff;
    font-size: clamp(8px, 4vw, 26px);
    font-weight: 800;
    top: 62%;
    left: 11%;
}

.campoEmail{
    position: absolute;
    color:#333;
    font-size: clamp(8px, 4vw, 20px);
    font-weight: 800;
    border-radius: 3%;
    border: 3px solid black;
    box-shadow: -4px 7px 0 #333;
    width: 80%;
    top: 35%;
    left: 10%;
}

.campoSenha{
    position: absolute;
    color:#333;
    font-size: clamp(8px, 4vw, 20px);
    box-shadow: -4px 7px 0 #333;
    font-weight: 800;
    border-radius: 3%;
    border: 3px solid black;
    width: 80%;
    top: 53%;
    left: 10%;
}

.campoSenha2{
    position: absolute;
    color:#333;
    font-size: clamp(8px, 4vw, 20px);
    box-shadow: -4px 7px 0 #333;
    font-weight: 800;
    border-radius: 3%;
    border: 3px solid black;
    width: 80%;
    top: 71%;
    left: 10%;
}

.linkResgistrar{
    text-decoration: none;
    color: #333;
    background-color: #ffff;
}